/* variables! :3 */

:root{
--universal: lightblue;
--blue: backround color:var(--universal);

}


* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}


.header {
  padding-left: 5px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
  background-color: #2a607c;
  color: #ffffff;
 
}


.box-image{

    height: 250px;
    width: 1920px;
    margin-bottom: 25px;
    background-image: url(./backround.jpg);
    background-size: cover;
    background-position: center;
}
 


/* Change font size of headings */

header h2 {
  display: inline-block;
  font-size: 40px;
  color: var(--universal);
  margin-left: 0%;
  padding-top: 5px;

}
  
  /* Change the margin */
  h2 {
   
    font-size: 125%; 
    color: #2a607c;
    
  }

.header li {
  
}

body {
background-color: beige;
}
  

  /* Image minipulation here! (Sal) */

  img {
    width: 15%;
    height: auto;
  }

  img {width: 15%;
  height: auto;
  
}

  /* Manipulating the section of about me div id "me" */
  
.aboutme {
  
  border: 3px solid darkblue; 
  color: darkblue;
  float: center;
  background-color:var(--universal);
    width:100%;
    padding: 10px;
    margin-right: 10px;
    font-size: 30px;
    text-align: center;
   
  }


nav {
  display: flex;
  justify-content:end;
  margin-bottom: 0;
  

}
  /* need to move buttons all the way to the top. Also I need to make it when clickin on button it takes me to sections! IE about me project, etc */
  nav li {
    margin: 10px;
    color:lightblue;
    font-size: 200%;
    margin-bottom: 40px;
  list-style-type: none;
  display: inline-block;
  
  }
  
  /* The user's cursor is positioned over the element */
  nav li:hover {
    color: black;
    cursor:grab;

  }
  
  /* The user is actively pressing down on the element. It will create an effect */
  nav li:active {
    font-size: 180%;
    box-shadow: 0 0 10px #000 inset;
  }
  
  /* The element is currently in focus, either by tabbing to or clicking on it. color change*/
  nav li:focus {
    outline: none;
  }
  
  


  /* Projects Div */
 



.Projects h2{

  font-size: 40px;
  margin-bottom: 10%;
  text-align: center;
}



.Projects li {
  background-color:var(--universal);
  text-align: center;
  padding: 100px;
  margin: 20px; 
  font-size: 30px;
  display: inline-block;
  

}

.Projects li:hover {
  background-color: red;
  color: black;
  cursor: grab;
  
}
   /* Contact Me Div in footer */
   


.Contact h2 {
  font-size: 40px;
  margin-top: 5%;
  text-align: center;
}

.Contact li {

    margin: 5px;
    font-size:150%;
    color: #13293d;
    background-color:var(--universal);
    border: 3px solid #13293d;
    padding: 50px;
    text-align: center;
    
    

}
.Contact li:hover {
  background-color: blue;
  color: black;
  cursor: grab;
}
  


  
  /* Using DevTools, change the following properties to demonstrate the differences 
.four {
     Change font family: serif, sans-serif, monospace, cursive 
    font-family: serif;
    /Change font weight: bold, 100-900 
    font-weight: 100;
    /Change the font style: normal, italic, oblique 
    
} *